body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    h1 {
      font-size: 4rem;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px)  {
      body {        
        background-color: brown;
        color: white;  
      }
    }