/* #container 선택자: id가 'container'인 요소에 적용 */
#container{
    width: 600px;
/* 요소의 너비를 600픽셀로 설정 */
    margin: 20px auto;
    /* 요소의 상하 외부 여백을 20픽셀, 좌우 외부 여백을 auto로 설정
       요소를 부모 요소의 중앙에 배치 */
}

/* h1 class 선택자 */
h1 {
    /* 글자처럼 한 줄에 배치하고 너비와 높이 설정이 가능하도록 지정 */
    display: inline-block; 
    background-color: rgb(11, 11, 82);
    /*  내부의 글자 색을 흰색으로 지정 */
    color: white; 
}

/* 클래스 선택자 .accent */
.accent {
    /* 글꼴 두께를 굵게 설정 */
    font-weight: bold;
    /* 글자 색을 빨간색(red)으로 설정 */
    color: red;
}