/* 정의한 이름을 맨앞 항목 앞에 연결 해주고 세부적으로 CSS코드 작성 */

/* 인라인 inline이란 웹 페이지 안에서 글자나 단어처럼 취급을 하고 한 줄에 나란히 배치 함. */
h1 {
      display: inline-block; 
      /*너비와 높이, 여백(padding/margin) 독립적으로 */
      font-size:1.4em;
      /* 글자크기 1.4사이즈 */

      background-color:#222;
      /* 배경화면 색상 */
      color:#fff;
      /* 글자색을 흰색으로 설정 */

      padding:10px;
      /* 안쪽여백을 10px씩 상하좌우 추가해서 공간을 줌 */
    }

    ul {
      list-style:none;
      /* <li>앞에 자동으로 붙는 .을 제거 해줌 */
    }
    p {
      font-size:1.2em;
      /* 글자크기 1.2배 더 크게 증가 */
      line-height:1.5;
      /* 줄 높이를 1.5배로 설정 */
      color:blue;
      /* 글자색을 파란색으로 설정 */
    }