a {
      text-decoration: none;
      color: black;
    }
    #travel {
      width: 1200px;
      margin: 0 auto;
    }
    .title-text {
      text-align: center;
    }
    .title-text > h2 {
      font-size: 2.5em;
      color: #919191;
    }
    .title-text > p {
      font-size: 1.2em;
      color: #ccc;
    }
    .travel-list {
      padding-top: 20px;      
    }
    .travel-card {
      width: 250px;
      height: 340px;
      float: left;
      padding: 10px;
      margin-right: 20px;
      text-align: center;
      border: 1px solid white;
      border-radius: 20px;
    }
    .travel-card img {
      width: 150px;
      height: 150px;
      margin: 15px;
      border-radius: 50%;
      border: 0.3px solid white;
    }
    .travel-card p {
      font-size: 16px;
    }