body {
    width: 600px;
    margin: 20px auto;
    text-align: center;
}

.red-text{
    color: red;
    font-weight: bold;
    
}

h1 {
    background-color: navy;
    color: white;
    display: inline-block;
    
}

